<div class="footer_top_txt">
  <ul class="family_sub">
    <li><a href="http://www.daolsecurities.com/" target="_blank">다올투자증권</a></li>
    <li><a href="https://www.daolsb.com" target="_blank">다올저축은행</a></li>
    <li><a href="http://www.daolfund.com/" target="_blank">다올자산운용</a></li>
    <li><a href="http://www.daolinvestment.com/" target="_blank">다올인베스트먼트</a></li>
    <li><a href="http://www.daolcredit.com/" target="_blank">다올신용정보</a></li>
    <li><a href="https://www.daolventures.com/" target="_blank">DAOL Ventures</a></li>
    <li><a href="https://www.ktbst.co.th/" target="_blank">DAOL THAILAND</a></li>
  </ul>

  <ul>
    <li class="Mr_pro">30Fl, POST Tower, 60, Yeouinaru-ro, Yeongdeungpo-gu, Seoul, Korea <span> <strong>T</strong>.
        +82 2 2184 4150</span><span> <strong>F</strong>. +82 2 2184 4192</span></li>
    <li class="Mr_pro">COPYRIGHT© DAOL Private Equity ALL RIGHTS RESERVED.</li>
  </ul>
</div>