<header class="sticky top-0 z-50 grid grid-cols-2 justify-end px-3 py-1 md:px-10 md:py-6">
  <div class="relative my-auto flex h-10 w-full cursor-pointer items-center py-1">
    <a href="index.html"
      class="bg-[url('public/assets/logo_white.png')] block w-full h-full bg-contain bg-left bg-no-repeat"></a>
  </div>

  <div class="flex items-center justify-end space-x-14 text-lg text-gray-500 z-50">
    <button class="toggleDrawerr">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <div id="menuLayer"
    class="fixed top-0 -right-[280px] z-40 h-full w-[280px] bg-white bg-opacity-90 transition-all ease-in">
    <div class="grid h-full grid-cols-1 grid-rows-2 items-center justify-end">
      <ul class="bolder space-y-8 pl-16 pt-32 text-left text-2xl text-[#222222]">
        <li>
          <a class="block py-2" href="/"> Main </a>
        </li>
        <li>
          <a class="block py-2" href="/company"> Company </a>
        </li>
        <li>
          <a class="block py-2" href="/portfolio"> Investment </a>
        </li>
        <li>
          <a class="block py-2" href="/leadership"> Leadership </a>
        </li>
      </ul>
      <div class="flex h-full flex-col flex-wrap items-center justify-end pb-4">
        <span class="px-4 text-center text-[10px]">
          COPYRIGHT© <br />
          DAOL Private Equity ALL RIGHTS RESERVED.
        </span>
      </div>
    </div>
  </div>
</header>